<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <%= page_header %>
  <title><%=h page_title %></title>
  <%= stylesheet_link_tag '/stylesheets/theme/common.css' %>
  <%= stylesheet_link_tag '/stylesheets/theme/desktop.css', :media => 'screen and (min-device-width: 661px)' %>
  <%= stylesheet_link_tag '/stylesheets/theme/mobile.css', :media => 'handheld' %>
  <%= stylesheet_link_tag '/stylesheets/theme/mobile.css', :media => 'only screen and (max-device-width: 660px)' %>
  <script type="text/javascript" src="http://api.flattr.com/js/0.6/load.js?mode=auto&uid=bangpowwww&language=de_DE&category=text"></script>
  <script type="text/javascript" src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
  <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  <meta property="fb:app_id"    content="297175940322776"/>
  <meta property="og:url"       content="<%= request.protocol + request.host_with_port + request.fullpath %>" />
  <% if @article %>
  <meta property="og:image"     content="<%= display_thumbnail @article %>" />
  <% end %>
  <meta property="og:title"     content="<%= h page_title %>" />
  <meta property="og:site_name" content="Textkrieg" />
  <meta property="og:type"      content="article" />
  <meta name="keywords" content="Texter, Texterin, Berlin, Clara Hitzel, Social Media, Copywriter, bangpowwww, Musik, Journalist, Journalistin" />
 
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22856766-2']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    FB.Event.subscribe('edge.create', function(targetUrl) {
      _gaq.push(['_trackSocial', 'facebook', 'like', targetUrl]);
    });
    FB.Event.subscribe('edge.remove', function(targetUrl) {
      _gaq.push(['_trackSocial', 'facebook', 'unlike', targetUrl]);
    });
    FB.Event.subscribe('message.send', function(targetUrl) {
      _gaq.push(['_trackSocial', 'facebook', 'send', targetUrl]);
    });
  </script>
  
  <meta name="viewport"      content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=3.0, user-scalable=1, minimum-scale=0" />
</head>

<body>
<div id="fb-root"></div>
<div id="container">
  <div id="page">
    <div id="sidebar">
      <h1><span><%= link_to "Text Krieg", this_blog.base_url %></span></h1> 
      <!-- sidebar components -->
      <%= render_sidebars %>

    <a href="http://www.twitter.com/bangpowwww"><img src="/files/twitter.png" alt="Ada auf Twitter"/></a><br />
    <a href="http://facebook.com/textkrieg"><img src="/files/facebook.png" alt="Ada auf Facebook"/></a><br />
    <a href="https://soundcloud.com/bangpowwww"><img src="/files/soundcloud.png" alt="Ada auf SoundCloud"/></a><br />

    </div>
    <div id="content">
      <%= yield %>
      <%= javascript_tag 'show_dates_as_local_time()' %>
    </div>
    <div id="rightbar">
    <% unless request.fullpath == '/' %>
      <% Article.find(:all, :conditions => ["published = ?", true], :order => 'published_at DESC', :limit => 14).each do |article| %>
        <div class="atomentry">
          <a href="<%= article.permalink_url %>">
          <h2 class="title"><%= article.title %></h2>
          <p class="author"><abbr class="published" title="<%= article.published_at.xmlschema %>"><%= display_date_and_time article.published_at %></abbr></p>
          <%= render 'articles/article_excerpt', { :article => article } %>
          </a>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
  <div id="footer">
  </div>
</div>
</body>
</html>
